@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgColor: #003C43;
    --bgColor2: #0DC595;
    --textColor: #0B666A;
}

*{
    font-family: "Montserrat", sans-serif;
    background-color: var(--bgColor);
}

p{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media(max-width:600px){
    .qr{
        width: 60%;
        padding: 5%;
        background-color: #FFFFFF;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .main-btn{
        width: 70%;
        padding: 3% 0;
        font-weight: bold;
        font-size: medium;
        margin: 2% 0;
        border-color: transparent;
        border-radius: 10px;
    }

    .action-btn{
        border-color: transparent;
        border-radius:  100vh;
        width: 20%;
        padding: 3.5% 4%;
        margin: 3%;
    }


    .btn-image{
        width: 100%;
        background-color: white;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}