@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgColor: #003C43;
    --bgColor2: #0DC595;
    --textColor: #0B666A;
}

*{
    font-family: "Montserrat", sans-serif;
}

p{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media(min-width:900px){

    .main-container-invitation-f{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
    }

    .overview-container-f{
        height: 100vh;
        background-color: white;
        margin-top: 5%;
    }

    .overview-item-f{
        border-color: transparent;
        margin: 5% 0;
    }

    .ref-f{
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
    }

    .add-btn-f{
        margin-top: 2%;
        border-color: transparent;
        color: black;
        font-size: larger;
        font-weight: bold;
        width: 90%;
        padding: 2% 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:600px){
    
    .main-container-invitation-f{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
    }

    .main-title-i{
        margin-top: 5%;
    }

    .overview-container-f{
        height: 100vh;
        background-color: white;
        margin-top: 5%;
    }

    .overview-item-f{
        border-color: transparent;
        margin: 5% 0;
    }

    .add-btn-f{
        margin-top: 10%;
        border-color: transparent;
        background-color: transparent;
        color: black;
        font-size: larger;
        font-weight: bold;
        width: 90%;
        padding: 2% 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ref-f{
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
    }
}