@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgColor: #003C43;
    --bgColor2: #0DC595;
    --textColor: #0B666A;
}

*{
    font-family: "Montserrat", sans-serif;
    background-color: var(--bgColor);
}

p{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media(max-width:600px){
    .qr{
        width: 60%;
        padding: 5%;
        background-color: #FFFFFF;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .main-btn{
        width: 70%;
        padding: 3% 0;
        font-weight: bold;
        font-size: medium;
        margin: 2% 0;
        border-color: transparent;
        border-radius: 10px;
    }

    .action-btn{
        border-color: transparent;
        border-radius:  100vh;
        width: 20%;
        padding: 3.5% 4%;
        margin: 3%;
    }

    .notification-dark{
        display: none;
    }

    .house-little{
        width: 20%;
    }

    .btn-image{
        width: 100%;
        background-color: white;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-container-pc{
        display: none;
    }

    .profile-nav-option{
        display: none;
    }

    .column-main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .ref-main{
        background-color: transparent;
        text-decoration: none;
        color: black;
      }
}

@media(min-width:900px){
    .navbar-container-mobile{
        display: none;
    }

    .notification-btn{
        position: absolute;
        background-color: transparent;
        border-color: transparent;
        top: 1%;
        left: 1%;
    }

    .notification-img{
        background-color: transparent;
        width: 5vw;
    }

    .main-container-main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .qr{
        width: 20%;
        padding: 2%;
        background-color: #FFFFFF;
        margin-top: 0%;
        margin-bottom: 1%;
    }

    .main-btn{
        width: 20%;
        padding: 1% 0;
        font-weight: bold;
        font-size: medium;
        margin: 1% 0;
        border-color: transparent;
        border-radius: 10px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
      }

      .ref-main{
        background-color: transparent;
        text-decoration: none;
        color: black;
      }

    .action-btn{
        border-color: transparent;
        border-radius:  100vh;
        width: 8vw;
        padding: 3.5% 4%;
        margin: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .btn-image{
        background-color: white;
        width: 4vw;
        border-radius: 100vh;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        width: 15vh;
    }

    .column-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .profile-nav-option{
        position: fixed;
        width: 8vw;
        background-color: transparent;
        border-color: black solid 2px;
        top: 2%;
        right: 2%;
    }

    .display-menu{
        width: 5vw;
        background-color: transparent;
        border-color: transparent;
    }

    .display-menu-img{
        width: 5vw;
        background-color: transparent;
    }
}