@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgColor: #003C43;
    --bgColor2: #0DC595;
    --textColor: #0B666A;
}

*{
    font-family: "Montserrat", sans-serif;
}

p{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media (min-width:900px) {
    .main-container-members{
        height: 100vh;
        width: 100vw;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .main-title-m{
        background-color: transparent;
        color: black;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 2%;
    }

    .search-input{
        width: 85%;
        border-color: transparent;
        background-color: transparent;
        margin-top: 5%;
        border-bottom: 1px solid black;
        font-size: large;
    }

    .search-input::placeholder{
        color: black;
    }

    .overview-container{
        display: flex;
        width: 80%;
        margin-top: 2%;
        flex-direction: column;
        border-color: transparent;
        background-color: transparent;
    }

    .overview-item{
        border-color: transparent;
        margin: 5% 0;
    }

    .owner-label{
        top: 0;
        left: 0;
        background-color: white;
        color: black;
        padding: 5px;
        font-weight: bold;
        background-color: transparent;
        font-size: 14px;
    }

    .add-btn{
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: larger;
        font-weight: bold;
        margin-top: 2%;
    }

    .add-icon{
        background-color: transparent;
        width: 5%;
        margin-right: 1%;
    }
}

@media (max-width:600px) {
    .main-container-members{
        height: 100vh;
        width: 100vw;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }

    .main-title-m{
        background-color: transparent;
        color: black;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 5%;
    }

    .search-input{
        width: 85%;
        border-color: transparent;
        background-color: transparent;
        margin-top: 5%;
        border-bottom: 1px solid black;
        font-size: large;
    }

    .search-input::placeholder{
        color: black;
    }

    .overview-container{
        display: flex;
        width: 80%;
        margin-top: 5%;
        flex-direction: column;
        border-color: transparent;
        background-color: transparent;
    }

    .overview-item{
        border-color: transparent;
        margin: 5% 0;
    }

    .owner-label{
        top: 0;
        left: 0;
        background-color: white;
        color: black;
        padding: 5px;
        font-weight: bold;
        background-color: transparent;
        font-size: 14px;
    }

    .add-btn{
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: larger;
        font-weight: bold;
        margin-left: 10%;
    }

    .add-icon{
        background-color: transparent;
        width: 11%;
        margin-right: 5%;
    }
}