@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgColor: #003C43;
    --bgColor2: #0DC595;
    --textColor: #0B666A;
}

*{
    font-family: "Montserrat", sans-serif;
}

p{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media(min-width:900px){
    .main-container-fg{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: black 1px solid;
        width: 70vw;
        height: 15vh;
    }

    .hp-img{
        background-color: transparent;
        width: 10%;
    }

    .hp-title{
        background-color: transparent;
        color: black;
        font-weight: bold;
        font-size: xx-large;
        margin-left: 5%;
    }

    .ref-fg{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;
        text-decoration: none;
    }
}

@media(max-width:600px){
    .main-container-fg{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: black 1px solid;
        width: 70vw;
        height: 15vh;
    }

    .hp-img{
        background-color: transparent;
        width: 10%;
    }

    .hp-title{
        background-color: transparent;
        color: black;
        font-weight: bold;
        font-size: xx-large;
        margin-left: 5%;
    }

    .ref-fg{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;
        text-decoration: none;
    }
}