@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgColor: #003C43;
    --bgColor2: #0DC595;
    --textColor: #0B666A;
}

*{
    font-family: "Montserrat", sans-serif;
}

p{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media(max-width:600px){
    .main-container-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: white;
    }

    .user{
        display: flex;
        background-color: white;
    }

    .user-info{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        align-items: flex-start;
        justify-content: center;
        margin-left: 5%;
    }

    .subtitle-menu{
        font-weight: bold;
        color: black;
        background-color: transparent;
    }

    .text-menu{
        background-color: transparent;
        color: black;
        font-size: x-small;
    }

    .profile-menu{
        width: 15%;
        background-color: transparent;
    }

    .menu-options{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 1%;
    }

    .menu-option{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 3% 0;
    }

    .menu-text{
        background-color: transparent;
        color: black;
    }

    .menu-icon{
        background-color: transparent;
        width: 25px;
    }
}