@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bgColor: #003C43;
    --textColor: #0B666A;
}

*{
    font-family: "Montserrat", sans-serif;
    background-color: var(--bgColor);
}

p{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media(max-width:600px){
    .main-container-nav{
        height: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .profile-nav{
        width: 15%;
        margin: 5% 2% 0 0;
        background-color: transparent;
    }

    .notification{
        width: 10%;
        margin: 5% 0 0 2%;
    }
}
